%% -*- erlang -*-
{erlsha2, ".", [{doclet, edown_doclet},
               {pretty_printer, erl_pp},
               {src_path, ["src/"]},
               {subpackages, true},
               {stylesheet, ""},
               {image, ""},
               {app_default,"http://www.erlang.org/doc/man"},
               {top_level_readme,
                {"./doc/README.md",
                 "http://github.com/vinoski/erlsha2"}}]}.
