%% -*- erlang -*-
{port_specs, [{"priv/erlsha2_nif.so", ["c_src/erlsha2_nif.c"]}]}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -O3 -I."},
            {"(?<!-arm)-[^-]+-linux.*-32$", "CFLAGS", "-m32"},
            {"(?<!-arm)-[^-]+-linux.*-32$", "LDFLAGS", "-m32"},
            {"(?<!-arm)-[^-]+-linux.*-64$", "CFLAGS", "-m64"},
            {"(?<!-arm)-[^-]+-linux.*-64$", "LDFLAGS", "-m64"}]}.

{pre_hooks, [{compile, "c_src/config.sh c_src/config.h"},
             {clean, "rm -f c_src/config.h"}]}.

{edoc_opts, [{doclet, edown_doclet},
             {pretty_printer, erl_pp},
             {src_path, ["src/"]},
             {subpackages, true}]}.
