{so_name, "erlsha2_nif.so"}.

{port_envs, [
            {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -I."},
            {"linux.*-32$", "CFLAGS", "-m32"},
            {"linux.*-32$", "LDFLAGS", "-m32"},
            {"linux.*-64$", "CFLAGS", "-m64"},
            {"linux.*-64$", "LDFLAGS", "-m64"}
            ]}.

{pre_hooks, [{compile, "c_src/config.sh"}]}.
{post_hooks, [{clean, "c_src/config.sh clean"}]}.

%% The following two terms are required only for generating documentation,
%% and so are commented out by default.
%%{deps, [{edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}}]}.
%%{edoc_opts, [{doclet, edown_doclet},
%%             {pretty_printer, erl_pp},
%%             {src_path, ["src/"]},
%%             {subpackages, true}]}.
