{port_sources, ["c_src/*.c"]}.
{so_specs, [{"priv/erlsha2_nif.so",["c_src/erlsha2_nif.o"]}]}.

{port_envs, [
            {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -I."},
            {"linux.*-32$", "CFLAGS", "-m32"},
            {"linux.*-32$", "LDFLAGS", "-m32"},
            {"linux.*-64$", "CFLAGS", "-m64"},
            {"linux.*-64$", "LDFLAGS", "-m64"}
            ]}.

{port_pre_script, {"c_src/config.sh", "c_src/config.h"}}.
{port_cleanup_script, "c_src/config.sh clean"}.
